comfyui/data/*.log
comfyui/data/*db*
comfyui/data/__manager/
comfyui/data/default/ComfyUI-Manager
comfyui/models/*
comfyui/output/*

open-webui/ollama/*
open-webui/data/*

komga/config/*
komga/data

ftp/passwd/*
ftp/data

pihole/etc

*/.env
